header.header {
  position: relative;
  width: 98%;
  margin: 1%;
  height: 3vh;
}

header.header .title {
  position: absolute;
  top: 50%;
  left: 2%;
  font-size: 35px;
  color: rgb(209, 76, 76);
  font-family: "Do Hyeon", sans-serif;
  transition: all 0.5s;
}

header.header .title:hover {
  color: rgb(226, 172, 101);
}

header.header .icon {
  position: absolute;
  /* position: relative; */
  top: 50%;
  right: 2%;
  color: rgb(209, 76, 76);
  font-size: 30px;
  transition: all 0.5s;
}

header.header .icon:hover {
  color: rgb(226, 172, 101);
}
